.stickyheader{
  background-color: #493b31;
  margin-left: 0px;
  padding-top: 17px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  position: sticky;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #493b31;
  }
  
  body{
    background-color: #c7b79d;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0%;
  }
  li {
    float: left;
    font-size: large;
  }

  h1{
    color: #493b31;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  h2{
    color: #493b31;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  li a {
    display: block;
    color: rgb(232,224,202);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  p{
    margin-left: 22%;
    margin-right: 22%;
    font-size: large;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
  margin-left: 2%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background-color: #493b31;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}